header {
    background-color: rgba(0, 0, 0, 0.7); /* Dark transparent background */
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

    nav a:hover {
        color: #ffd700; /* Gold color on hover */
    }
